* {
    margin:0;
    padding:0;
    box-sizing: border-box;
  }

html {
  height: 100%;
  width: 100%;
}

body {
  min-height: 100%;
  width: 100%;
  background-color:#E5840B;
}

#root {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
}

h1 {
  text-align: center;
  padding: 35px;
}
